[package]
name = "dobby"
description = "A command line tool for automating common development tasks"
version = "0.1.3"
authors = ["Dylan Anthony <contact@dylananthony.com>"]
edition = "2021"
license = "MIT"
repository = "https://github.com/dobby-dev/dobby"
homepage = "https://dobby-dev.github.io/dobby/"
documentation = "https://dobby-dev.github.io/dobby/"
keywords = ["jira", "git", "github", "workflow", "script"]
categories = ["command-line-utilities", "development-tools"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0.133", features = ["derive"] }
base64 = "0.13.0"
color-eyre = "0.5.11"
console = "0.14.1"
dialoguer = "0.8.0"
toml = "0.5.8"
serde_json = { version = "1.0.64", features = ["preserve_order"] }
git2 = "0.13.25"
semver = "1.0.4"
toml_edit = "0.13.0"
execute = "0.2.9"
platform-dirs = "0.3.0"
git-conventional = "0.11.1"
markdown = "0.3.0"
ureq = { version = "2.1.1", features = ["json"] }
http = "0.2.6"
clap = "2.33.3"

[dev-dependencies]
tempfile = "3.3.0"
