[package]
name = "knope"
description = "A command line tool for automating common development tasks"
version = "0.4.3"
authors = ["Dylan Anthony <contact@dylananthony.com>"]
edition = "2021"
license = "MIT"
repository = "https://github.com/knope-dev/knope"
homepage = "https://knope-dev.github.io/knope/"
documentation = "https://knope-dev.github.io/knope/"
keywords = ["jira", "git", "github", "workflow", "script"]
categories = ["command-line-utilities", "development-tools"]
rust-version = "1.60"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0.144", features = ["derive"] }
base64 = "0.13.0"
console = "0.15.1"
dialoguer = "0.10.2"
toml = "0.5.9"
serde_json = { version = "1.0.85", features = ["preserve_order"] }
git2 = { version = "0.15.0", default-features = false }
semver = "1.0.13"
execute = "0.2.11"
platform-dirs = "0.3.0"
git-conventional = "0.12.0"
ureq = { version = "2.5.0", features = ["json"] }
http = "0.2.8"
clap = { version = "3.2.20", features = ["cargo", "derive", "env"] }
itertools = "0.10.3"
miette = { version = "5.3.0", features = ["fancy"] }
thiserror = "1.0.33"
velcro = "0.5.3"
git-repository = "0.23.1"
log = "0.4.17"
env_logger = "0.9.0"
git-traverse = "0.16.4"
git-object = "0.20.3"

[dev-dependencies]
rstest = "0.15.0"
snapbox = "0.3.3"
tempfile = "3.3.0"
