name: Publish crates

on:
  pull_request:
    types: [ closed ]
    branches: [ main ]
  workflow_dispatch:

permissions: {}

jobs:
  publish-crates:
    if:  (github.head_ref == 'knope/release' && github.event.pull_request.merged == true) || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    environment: "crates.io"
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions-rust-lang/setup-rust-toolchain@a0b538fa0b742a6aa35d6e2c169b4bd06d225a98 # v1.15.3
      - uses: rust-lang/crates-io-auth-action@v1
        id: auth
      - name: Install cargo-release
        run: cargo install cargo-release
      - run: cargo release publish --workspace --execute --no-confirm
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
