name: Run Checks
on:
  push:
    branches:
      - main
  pull_request: {}
  merge_group:

jobs:
  checks:
    name: Run Checks
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4.1.1

      - uses: Swatinem/rust-cache@v2
      - uses: actions/setup-node@v4
        if: matrix.os == 'ubuntu-latest'
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: docs/package-lock.json
      - uses: cargo-bins/cargo-binstall@main

      - name: Install nightly toolchain (for formatting)
        run: rustup toolchain install nightly --component rustfmt

      - name: Install Just
        run: cargo-binstall --no-confirm just --force

      - name: Run CI
        if: matrix.os == 'ubuntu-latest'
        run: just binstall_args="--force" install-all-dependencies ci

      - name: Run tests only
        if: matrix.os == 'windows-latest'
        run: just test

  vale:
    name: Vale
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: errata-ai/vale-action@reviewdog