name: Run Checks
on:
  push:
    branches:
      - main
  pull_request: {}
  merge_group:

permissions: {}

jobs:
  checks:
    name: Run Checks
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      
      - name: Install nightly toolchain (for formatting)
        if: matrix.os == 'ubuntu-latest'
        run: rustup toolchain install nightly --component rustfmt

      - uses: jdx/mise-action@v2
        if: matrix.os == 'ubuntu-latest'

      - name: Install mise
        if: matrix.os == 'windows-latest'
        run: |
          irm https://mise.jdx.dev/install.ps1 | iex
          echo "$env:LOCALAPPDATA\mise\shims" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "$env:LOCALAPPDATA\mise\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Install docs dependencies
        if: matrix.os == 'ubuntu-latest'
        run: mise run install-docs-dependencies

      - name: Run CI
        if: matrix.os == 'ubuntu-latest'
        run: mise run ci

      - name: Run tests only
        if: matrix.os == 'windows-latest'
        run: mise run test

  vale:
    name: Vale
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - run: npm install -g mdx2vast # Adds MDX support for Vale
      - uses: errata-ai/vale-action@dcded780f1ff68e2558e802a165a484a4a3e2fb8
        with:
          files: '["docs", "README.md", "CODE_OF_CONDUCT.md", "CONTRIBUTING.md"]'