name: Run Checks
on:
  push:
    branches:
      - main
  pull_request: {}
  merge_group:

jobs:
  checks:
    name: Run Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Swatinem/rust-cache@v2
      - name: Install cargo-binstall
        run: |
          wget https://github.com/ryankurte/cargo-binstall/releases/latest/download/cargo-binstall-x86_64-unknown-linux-musl.tgz
          tar -xvf cargo-binstall-x86_64-unknown-linux-musl.tgz
          cp cargo-binstall $HOME/.cargo/bin

      - name: Install Just
        run: cargo-binstall --no-confirm just --force

      - name: Run CI
        run: just install-all-dependencies ci binstall_args="--force"

  validate-config:
    name: Validate Knope Config
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: Swatinem/rust-cache@v2
      - name: Run --validate
        run: cargo run -- --validate
